* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

/* navbar */
nav {
    background-color: #F9ECE6;
    margin: 0;
    padding: 0;
}

.nav-home {
    padding: 5px 20px !important;
    background: white;
    margin: auto;
    margin-top: 3px;
}

.nav-text-clr {
    color: rgb(45, 36, 36);
}

/* main content container */
.main-content {
    background-color: #F89CAB;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container {
    background-color: #F9ECE6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.contact-btn {
    border: none;
    padding: 10px 35px;
    background-color: #DB4666;
    border-radius: 3px;
    font-size: 15px;
}

.inner-heading {
    font-size: 50px;
}

/* media queries */
@media (max-width:993px){
    .inner-heading {
        font-size: 40px;
    }

    .doll-img {
        height:450px;
    }
}

@media (max-width:369px){
    .inner-heading {
        font-size: 32px;
        margin-top: 10px;
    }

    .doll-img {
        height:400px;
    }
}